.global-container {
  width: 100%;
  height: 100vh;
}
h3 {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  text-align: center;
  word-break: break-word;
  white-space: normal;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 1rem;
}
.error-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
  padding: 5px;
  border: 1px solid black;
  background-color: rgb(255 0 0);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  .error-message {
    font-size: 2rem;
    color: rgb(0 0 0);
  }
  .button {
    text-shadow: -1px 2px 1px black;
    font-size: 1em;
    background: black;
    color: coral;
    border: 1px solid #ffffff;
    padding: 4px;
    margin: 5px;
    border-radius: 10px;
    font-weight: 650;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 200ms ease-in-out;
  }

  .button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px white, 0px 0px 10px coral;
  }
  .button:active {
    color: black;
    background-color: white;
    box-shadow: 0px 0px 10px coral, 0px 0px 10px rgb(255, 255, 255);
  }
}
.search-form {
  margin: 1.5rem auto;
  display: flex;
  width: 100%;
  gap: 1rem;
  max-width: 50%;
  color: white;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 0px 0px 20px #ffffff;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  transition: all 300ms ease-in-out;

  div {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 1px solid coral;
    border-radius: 10px;
    backdrop-filter: blur(5px);

    label {
      font-size: 1.4rem;
      text-decoration: none;
      color: #ffab8c;
      outline-color: rgb(255, 255, 255);
      text-shadow: -3px 2px 1px black, 0px 0px 20px white;
    }

    input {
      background: none;
      outline: none;
      border: none;
      color: coral;
      font-size: 20px;
      width: 60%;
      display: inline-block;
      border-bottom: solid rgb(117, 117, 117);
      box-sizing: border-box;
      padding: 10px;
      border-radius: 0 4px 4px 4px;
      margin: 15px auto;
      resize: none;
      transition: 0.5s;
    }

    input:hover {
      text-shadow: 0px 0px 20px rgb(255, 255, 255);
      color: #ffffff;
      transition: 0.1s;
      border-radius: 15px;
    }

    input:focus {
      color: #ffffff;
      width: 80%;
      transition: 0.5s;
      border: none;
      outline: none;
      border-bottom: white solid;
      background: none;
      background-image: none;
    }
  }
}
.no-content {
  max-width: 80%;
  margin: 2rem auto;
  background-color: rgba(0, 0, 0, 0.7411764706);
  backdrop-filter: blur(5px);
  padding: 2.5rem 0.5rem;
  border-radius: 15px;
  border: 1px solid coral;
  p {
    color: coral;
    font-size: 1.3rem;
    text-align: center;
    word-break: break-word;
    white-space: normal;
    text-overflow: ellipsis;
  }
}
.table-container {
  width: 100%;
  max-width: 80%;
  margin: 2rem auto;
  border: 1px solid coral;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7411764706);
  backdrop-filter: blur(10px);

  table {
    position: relative;
    margin: 10px auto 60px;
    table-layout: fixed;
    background-color: rgba(0, 0, 0, 0.3019607843);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    border-collapse: collapse;

    tr {
      border: 3px ridge #3e5151;
    }

    tr:not(.table-header):hover {
      border: 3px solid #84a8a8;
    }

    .table-data {
      width: 30px;
      white-space: nowrap;
      color: white;
      border: 1px ridge #3e5151;
      overflow: hidden;
      font-size: 1.4rem;
    }

    .table-data:hover {
      border: 3px solid coral;
    }

    thead {
      text-align: center;
      position: sticky;
      top: 4.5rem;

      .table-header-buttons {
        th {
          text-align: center;
        }
        button {
          text-shadow: -1px 2px 1px black;
          font-size: 1rem;
          background: black;
          color: coral;
          border: 1px solid #000000;
          margin: 5px;
          border-radius: 10px;
          font-weight: 650;
          text-decoration: none;
          letter-spacing: 1px;
          box-shadow: 0px 0px 10px rgb(0, 0, 0), 0px 0px 10px rgb(255, 255, 255, 55);
          transition: all 200ms ease-in-out;
        }
        button:hover {
          cursor: pointer;
          box-shadow: 0px 0px 10px rgb(255, 255, 255), 0px 0px 10px coral;
        }

        button:active {
          background-color: rgb(255, 255, 255);
          color: rgb(0, 0, 0);
          box-shadow: 0px 0px 10px rgb(255, 255, 255), 0px 0px 10px coral;
        }
      }
      th {
        white-space: nowrap;
        color: black;
        overflow: hidden;
        background-color: white;
        border: 3px ridge #3e5151;
        text-shadow: 0px 0px 10px coral;
        font-size: 1.4rem;
      }
      th:not(:last-child) {
        margin-right: 2px;
      }
    }
  }
}

@media screen and (max-width: 678px) {
  .table-container {
    width: 100%;
    max-width: 95%;
    margin: auto;
    border: 1px solid coral;
    border-radius: 10px;
    backdrop-filter: blur(10px);

    table {
      thead {
        .table-header {
          th {
            margin-right: 2px;
            letter-spacing: 0.3px;
            font-size: 0.8rem;
            word-break: break-word;
            white-space: normal;
            text-overflow: ellipsis;
          }
        }
      }
    }

    tbody {
      tr {
        .table-data {
          font-size: 0.8rem;
          word-break: break-word;
          white-space: normal;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
