<div *ngIf="authService.hasError" class="error-container">
  <p class="error-message">
    {{authService.hasError}}
  </p>
  <div class="buttons-container">
    <button class="button" (click)="recipeService.handleClearError()">
      OK
    </button>
  </div>
</div>
<app-global-loader *ngIf="!macroNutrients"></app-global-loader>
<div class="table-container" *ngIf="macroNutrients">
  <div class="no-content" *ngIf="!macroNutrients">
    <p *ngIf="!authService.hasError">There is no macro data to show</p>
  </div>
  <table>
    <thead>
      <tr class="table-header-buttons">
        <th>
          <button (click)="coreService.sortBy(macroNutrients, 'name')">Sort By Име</button>
        </th>
        <th>
          <button (click)="coreService.sortBy(macroNutrients, 'water')">Sort By Вода</button>
        </th>
        <th>
          <button (click)="coreService.sortBy(macroNutrients, 'protein')">Sort By Белтъчини</button>
        </th>
        <th>
          <button (click)="coreService.sortBy(macroNutrients, 'fat')">Sort By Мазнини</button>
        </th>
        <th>
          <button (click)="coreService.sortBy(macroNutrients, 'carb')">Sort By Въглехидрати</button>
        </th>
        <th>
          <button (click)="coreService.sortBy(macroNutrients, 'calories')">Sort By Калории</button>
        </th>
      </tr>
      <tr class="table-header">
        <th>
          Име на продукт
        </th>
        <th>
          Вода гр.
        </th>
        <th>
          Белтъчини гр.
        </th>
        <th>
          Мазнини гр.
        </th>
        <th>
          Въглехидрати гр.
        </th>
        <th>
          Калории гр.
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let macro of coreService.sortedMacros(macroNutrients)">
        <td class="table-data">

          {{macro.name}}
        </td>
        <td class="table-data">{{macro.water}}
        </td>
        <td class="table-data">{{macro.protein}}</td>
        <td class="table-data">{{macro.fat}}</td>
        <td class="table-data">{{macro.carb}}</td>
        <td class="table-data">{{macro.calories}}</td>
      </tr>
    </tbody>
  </table>
</div>
