<div *ngIf="authService.hasError" class="error-container">
  <p class="error-message">
    {{authService.hasError}}
  </p>
  <div class="buttons-container">
    <button class="button" (click)="recipeService.handleClearError()">
      OK
    </button>
  </div>
</div>
<div class="no-content" *ngIf="!globalLoaderService.isLoading && !authService.hasError && !macroNutrients">
  <p>There is no macro data to show</p>
</div>
<app-global-loader *ngIf="!macroNutrients"></app-global-loader>
<div class="table-container" *ngIf="macroNutrients && !globalLoaderService.isLoading">
  <h3>NOTE: <h2>The below macro data is for 100gr. of product.</h2>
  </h3>

  <form class="search-form" #searchForm="ngForm">
    <div class="already-reg">
      <label for="name">product name</label>
      <input (ngModelChange)="handleOnSearch(searchForm)" #nameInput="ngModel" type="text" name="name" id="name"
        placeholder="some name..." ngModel />
    </div>
  </form>
  <table>
    <thead>
      <tr class="table-header-buttons">
        <th>
          <button (click)="coreService.sortBy(macroNutrients, 'name')">Sort By Име</button>
        </th>
        <th>
          <button (click)="coreService.sortBy(macroNutrients, 'water')">Sort By Вода</button>
        </th>
        <th>
          <button (click)="coreService.sortBy(macroNutrients, 'protein')">Sort By Белтъчини</button>
        </th>
        <th>
          <button (click)="coreService.sortBy(macroNutrients, 'fat')">Sort By Мазнини</button>
        </th>
        <th>
          <button (click)="coreService.sortBy(macroNutrients, 'carb')">Sort By Въглехидрати</button>
        </th>
        <th>
          <button (click)="coreService.sortBy(macroNutrients, 'calories')">Sort By Калории</button>
        </th>
      </tr>
      <tr class="table-header">
        <th>
          Име на продукт
        </th>
        <th>
          Вода гр.
        </th>
        <th>
          Белтъчини гр.
        </th>
        <th>
          Мазнини гр.
        </th>
        <th>
          Въглехидрати гр.
        </th>
        <th>
          Калории гр.
        </th>
      </tr>
    </thead>
    <tbody *ngIf="coreService.sortedMacros(macroNutrients) && !filtered">
      <tr *ngFor="let macro of coreService.sortedMacros(macroNutrients)">
        <td class="table-data">
          {{macro.name}}
        </td>
        <td class="table-data">{{macro.water}}
        </td>
        <td class="table-data">{{macro.protein}}</td>
        <td class="table-data">{{macro.fat}}</td>
        <td class="table-data">{{macro.carb}}</td>
        <td class="table-data">{{macro.calories}}</td>
      </tr>
    </tbody>
    <tbody *ngIf="coreService.sortedMacros(macroNutrients) && filtered">
      <ng-container *ngIf="coreService.sortedMacros(macroNutrients) && filtered!==null">
        <h3 class="found-text">
          <ng-container *ngIf="filtered.length===1">{{filtered.length}} product</ng-container>
          <ng-container *ngIf="filtered.length>1">{{filtered.length}} products</ng-container>
          <ng-container *ngIf="filtered.length===0">No products</ng-container>
          found!
        </h3>
      </ng-container>
      <tr *ngFor="let macro of filtered">
        <td class="table-data">
          {{macro.name}}
        </td>
        <td class="table-data">{{macro.water}}
        </td>
        <td class="table-data">{{macro.protein}}</td>
        <td class="table-data">{{macro.fat}}</td>
        <td class="table-data">{{macro.carb}}</td>
        <td class="table-data">{{macro.calories}}</td>
      </tr>
    </tbody>
  </table>
</div>
