<div class="user-list-container" *ngIf="recipeService.recipeDetails">
  <section>
    <div class="list-container">
      <ul class="card-container" role="list">
        <li class="card" routerLink='/recipe/details/{{recipeService.recipeDetails._id}}'>
          <div class="header-container">
            <h3>{{recipeService.recipeDetails.name}}</h3>
          </div>
          <div class="pic-container">
            <a href="{{recipeService.recipeDetails.image}}" target="_blank" rel="noopener">
              <img src={{recipeService.recipeDetails.image}} [alt]="alt" class="dummie-pic">
            </a>
          </div>
          <div class="buttons-container">
            <a class="button" routerLink="/" (click)="recipeService.setOwner(false)">Back to "home"</a>
            <a class="button" routerLink="/recipe/browse" (click)="recipeService.setOwner(false)">Back to "browse"</a>
            <ng-container
              *ngIf="authService.isLogged && recipeService?.recipeDetails?.owner?.toString()===authService.user?.id?.toString()">
              <a class="button" href="#">Edit</a>
              <a class="button" href="#">Delete</a>
            </ng-container>
            <ng-container
              *ngIf="authService.isLogged && !(recipeService?.recipeDetails?.owner?.toString()===authService.user?.id?.toString())">
              <a class="button" href="#">Like</a>
            </ng-container>
          </div>
          <div class="text-container">
            <h3>Difficulty:</h3>
            <p>{{recipeService.recipeDetails.difficulty}}</p>
            <h3>Portions:</h3>
            <p>{{recipeService.recipeDetails.portions}}</p>
            <h3>Ingredients:</h3>
            <p class="ingredients">{{recipeService.recipeDetails.ingredients}}</p>
            <h3>Full recipe:</h3>
            <p class="recipe">{{recipeService.recipeDetails.fullRecipe}}</p>
          </div>
          <div class="text-container">
            <h3>Created by:
            </h3>
            <p *ngIf="recipeService.isOwner">You</p>
            <p *ngIf="!recipeService.isOwner">{{recipeService.recipeDetails.ownerName}}</p>
            <h3>Created on:
              <p>{{date}}</p>
            </h3>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <div class="global-conainer">
    <app-global-loader *ngIf="!recipeService.recipeDetails"></app-global-loader>
  </div>
