<div>
  <!-- if error message -->
  <div *ngIf="authService.hasError" class="error-container">
    <p class="error-message">
      {{authService.hasError}}
      <button class="button" (click)="authService.handleClearError()">
        OK
      </button>
    </p>
  </div>

  <h3 class="header">Login</h3>
  <app-global-loader *ngIf="globalLoaderService.isLoading"></app-global-loader>
  <!-- add submit handler to the form -->
  <form #loginForm="ngForm" class="login-form" (ngSubmit)="handleOnSubmitForm(loginForm)">
    <div class="form-group">
      <label class="credentials" for="email">
        <fa-icon [icon]="faEmail"></fa-icon> Enter your e-mail
      </label>
      <input type="text" class="email" name="email" id="email" placeholder="e-mail..." #emailInput="ngModel" required
        ngModel email [appMinLength]="10" />
      <ng-container *ngIf="emailInput.touched">
        <p class="validator-err" *ngIf="emailInput.errors?.['required']">E-mail is required</p>
      </ng-container>
      <ng-container *ngIf="emailInput.dirty">
        <p class="validator-err" *ngIf="emailInput.errors?.['email']">Invalid e-mail format</p>
        <p class="validator-err" *ngIf="emailInput.errors?.['appMinLength']">Email must be at least
          {{emailInput.errors?.['appMinLength']}} characters long</p>
      </ng-container>
    </div>
    <div class="form-group">
      <label class="credentials" for="password">
        <fa-icon [icon]="faPass"></fa-icon> Enter your password
      </label>
      <input type="password" class="password" id="password" name="password" placeholder="password..."
        #passInput="ngModel" required ngModel [appMinLength]="5" />
      <ng-container *ngIf="passInput.touched">
        <p class="validator-err" *ngIf="passInput.errors?.['required']">Password is required</p>
      </ng-container>
      <ng-container *ngIf="passInput.dirty">
        <p class="validator-err" *ngIf="passInput.errors?.['appMinLength']">Password must be at least
          {{passInput.errors?.['appMinLength']}}
          characters
          long</p>
      </ng-container>
    </div>
    <div class="submit-group">
      <input class="submit-btn" type="submit" value="Вход" />
    </div>
    <h3 class="not-reg">Not registered yet? <a class="reg-here" routerLink="/auth/register">Register here</a></h3>
  </form>
</div>
