<section class="main-banner">
    <div class="heading-container">
        <h1>Welcome to Martin's Cook blog!</h1>
    </div>
    <div class="banner-container">
        <img class="banner" [src]="path" [alt]="alt">
    </div>
</section>
<div class="divider"></div>
<h2 class="list-section-heading">Tasty recipes - below</h2>
<section>
    <div class="list-container">
        <ul class="card-container" role="list">
            <li class="card">
                <img [src]="path" [alt]="alt" class="dummie-pic">
                <span class="bar"></span>
            </li>
            <li class="card">
                <img [src]="path" [alt]="alt" class="dummie-pic">
                <span class="bar"></span>
            </li>
            <li class="card">
                <img [src]="path" [alt]="alt" class="dummie-pic">
                <span class="bar"></span>
            </li>
            <li class="card">
                <img [src]="path" [alt]="alt" class="dummie-pic">
                <span class="bar"></span>
            </li>
        </ul>
    </div>
</section>