<section class="main-banner">
  <title>Home</title>
  <div class="heading-container">
    <h1>Welcome to Martin's Cook blog!</h1>
  </div>
  <!-- if error message -->
  <div *ngIf="authService.hasError" class="error-container">
    <p class="error-message">
      {{authService.hasError}}
      <button class="button" (click)="authService.handleClearError()">
        OK
      </button>
      <button *ngIf="!authService.isLogged && homePageRecipes" class="button" routerLink="auth/login">Login</button>
    </p>
  </div>
  <div class="banner-container">
    <img class="banner" [src]="path" [alt]="alt">
  </div>
</section>
<div class="divider"></div>
<app-global-loader *ngIf="!homePageRecipes"></app-global-loader>
<h2 class="list-section-heading">Tasty recipes - below</h2>
<section>
  <div class="list-container">
    <ul class="card-container" role="list">
      <li class="card" *ngFor="let recipe of homePageRecipes" routerLink='/recipe/details/{{recipe._id}}'>
        <!-- this can be used instead of the one above[routerLink]="['/recipe','details', recipe._id]"-->
        <div class="header-container">
          <h3>{{recipe.name}}</h3>
        </div>
        <div class="pic-container">
          <img src={{recipe.image}} [alt]="alt" class="dummie-pic">
        </div>
        <div class="buttons-container">
          <ng-container *ngIf="authService.isLogged && recipe.owner.toString()===authService.user?.id?.toString()">
            <a class="button" href="#">Edit</a>
            <a class="button" href="#">Delete</a>
          </ng-container>
          <!--FOR LOGGED IN USERS-->
          <ng-container *ngIf="authService.isLogged && !(recipe.owner.toString()===authService.user?.id?.toString())">
            <a class="button" href="#">Like</a>
          </ng-container>
        </div>
        <div class="text-container">
          <p>{{recipe.fullRecipe}}</p>
          <p>{{recipe.ingredients}}</p>
        </div>
        <span class="bar"></span>
      </li>
    </ul>
  </div>
</section>
