<div class="user-list-container" *ngIf="recipeList">
  <button (click)="reloadUsersHandler()">Reload</button>
  <div *ngFor="let recipe of recipeList">
    {{recipe.name}}
    <div class="pic-container">
      <img src={{recipe.image}} [alt]="alt" class="dummie-pic">
    </div>
    <div class="text-container">
      <p>{{recipe.fullRecipe}}</p>
      <p>{{recipe.ingredients}}</p>
    </div>
  </div>
</div>
<div class="global-conainer">
  <app-global-loader *ngIf="!recipeList"></app-global-loader>
</div>
