<header>
  <!--NOT AUTH-->
  <ul *ngIf="!authService.isLogged" class="nav" role="list">
    <img class="logo" [src]="path" [alt]="alt" routerLink="/">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/recipe/browse">Browse recipes</a></li>
    <li><a routerLink="/recipe/macros">Nutrition table</a></li>
    <li><a routerLink="/auth/register">Register</a></li>
    <li><a routerLink="/auth/login">Login</a></li>
  </ul>

  <!--AUTH-->
  <ul *ngIf="authService.isLogged" class="nav" role="list">
    <img class="logo" [src]="path" [alt]="alt" routerLink="/">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/recipe/browse">Browse recipes</a></li>
    <li><a routerLink="/recipe/macros">Nutrition table</a></li>
    <li><a routerLink="/recipe/my-recipes">My recipes</a></li>
    <li><a routerLink="/recipe/create">Create</a></li>
    <li><a routerLink="/recipe/my-recipes">Edit</a></li>
    <li><a routerLink="/auth/profile">{{authService.user?.email}}</a></li>
    <li><a routerLink="/auth/logout">Logout</a></li>
  </ul>
</header>
