<section>
  <div *ngIf="authService.hasError" class="error-container">
    <p class="error-message">
      {{authService.hasError}}
    </p>
    <div class="buttons-container">
      <button class="button" (click)="recipeService.handleClearError()">
        OK
      </button>
    </div>
  </div>
  <div class="no-content" *ngIf="!globalLoaderService.isLoading && !authService.hasError && !recipeList">
    <p>There are no receipes to show</p>
  </div>
  <div class="list-container" *ngIf="!authService.hasError && recipeList">
    <h3 *ngIf="recipeList">Here you can find the full list of recipes</h3>
    <div class="sort-container" *ngIf="recipeList?.length">
      <button class="button" (click)="handleSorting()">Sort by {{sortingType === 'newest' ? 'oldest':
        'newest'}}</button>
      <h3 *ngIf="recipeList?.length">Sorted by {{sortingType}}</h3>
    </div>

    <!--SEARCH FOR A RECIPE-->
    <form *ngIf="recipeList?.length" class="search-form" #searchForm="ngForm">
      <div class="already-reg">
        <label for="name">recipe name</label>
        <input (ngModelChange)="handleOnSearch(searchForm)" #nameInput="ngModel" type="text" name="name" id="name"
          placeholder="some name..." ngModel />
      </div>
    </form>

    <!--WITHOUT FILTER VALUES-->
    <ul *ngIf="recipeList?.length && !filtered" class="card-container" role="list">
      <li class="card" *ngFor="let recipe of recipeList">

        <div class="header-container" routerLink='/recipe/details/{{recipe._id}}'>
          <h3>{{recipe.name}}</h3>
        </div>
        <div class="pic-container" routerLink='/recipe/details/{{recipe._id}}'>
          <img src={{recipe.image}} [alt]="alt" class="dummie-pic">
        </div>

        <div class="buttons-container">
          <ng-container *ngIf="authService.isLogged && recipe.owner===authService.user?.id">
            <a class="button" routerLink='/recipe/edit/{{recipe._id}}'>Edit</a>
          </ng-container>
        </div>
        <span class="bar"></span>
      </li>
    </ul>

    <!--WITH FILTER VALUES-->
    <ul *ngIf="filtered" class="card-container" role="list">
      <ng-container *ngIf="recipeList?.length && filtered!==null">
        <h3 class="found-text">Found
          <ng-container *ngIf="filtered.length===1">{{filtered.length}} recipe</ng-container>
          <ng-container *ngIf="filtered.length>1">{{filtered.length}} recipes</ng-container>
          <ng-container *ngIf="filtered.length===0">no recipes!</ng-container>
        </h3>
      </ng-container>

      <li class="card" *ngFor="let filteredRecipe of filtered" routerLink='/recipe/details/{{filteredRecipe._id}}'>
        <div class="header-container">
          <h3>{{filteredRecipe.name}}</h3>
        </div>
        <div class="pic-container">
          <img src={{filteredRecipe.image}} [alt]="alt" class="dummie-pic">
        </div>
        <span class="bar"></span>
      </li>
    </ul>

  </div>
</section>
<div class="global-conainer">
  <app-global-loader *ngIf="!recipeList"></app-global-loader>
</div>
