<div *ngIf="authService.hasError" class="error-container">
  <p class="error-message">
    {{authService.hasError}}
    <button class="button" (click)="authService.handleClearError()">
      OK
    </button>
  </p>
</div>
<div class="dark-bg">
  <div class="centered">
    <h1 class="logout-modal-header">Are you sure you want to logout?</h1>
    <input type="button" class="logout-modal-btn" (click)="handleLogout()" value="Изход!" />
    <input type="button" class="logout-modal-btn" value="Отказ" routerLink="" />
  </div>
</div>
